/Model/.venv
/Database/src/Network/*.o
/Database/src/Network/klient
/Database/src/Network/serwer
/.vscode/
/Model/src/cache_folder
/Model/src/agent/__pycache__/
/Model/src/config/__pycache__/
/Database/src/Network/cache_folder/